{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static "icons/favicon.ico" %}">
    <link href="/feed/" rel="alternate" type="application/rss+xml" title="Q Blog Feed" />
    <title>Fos</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/cabout.css" %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" id="a1">Fraternity of seekers</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home">Home</a></li>
            <li class="active"><a href="/about">About</a></li>
            <li><a href="#contact">Photos</a></li>
            <li><a href="#contact">Videos</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <!-- <div class="container">

      <div class="starter-template">
        <h1><br><br>Bootstrap starter template</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
      </div>

    </div> --><!-- /.container -->


    <!-- Main jumbotron for a primary marketing message or call to action -->
    

    <div class="container">
<div class="container">
      <div class="page-header">
        <h1 id=mh1><center><strong>Who we are?</strong></center></h1>
      </div>
      <p class="lead"><h3>Our goal is to inspire the students who are devoted to science for the welfare of society.</h3><br>
      <h4>Innovation happens when people from different background come together, think together and act together, challenge each other & help each other. NO ONE IS STRONGER THAN ALL OF US. In this modern era, no discipline can work in complete isolation. The absolute need of hour is to "generate" and "harness" multidisciplinary expertise. The peculiarity of multidisciplinary expertise is that it can not be learnt from books, internet and newspaper!!! It can only be acquired by actually being with people from different discipline, under one 'UMBRELLA'. And, this is what Fraternity of Seekers is all about!</h4><br><br>
      Technology is a tool. Just like a hammer (not the tool you want to kick out of your fraternity) – it can build or destroy.

<strong>NOTHING</strong> replaces personal contact. But, often smart rushees will do research on fraternities they are considering. These strategies below build from basic and simple to more advanced and impactful.<br>

Get Found! Don’t use chapter designations that only your members know. (Maryland Beta chapter of Sigma Phi Epsilon.) Use both your fraternity name and nickname on Facebook page, website, Twitter, etc. (SAE & Sigma Alpha Epsilon but avoid the Greek letters)

Don’t be “Frat” – Realize that both students & their parents are doing research. If you promote a fratty image you alienate a good percentage of your potential market for no added benefit.<br>

Clean, Simple and Visual – Not a lot of text. Pictures that truly and positively display chapter activities. Someone should learn a little about your a) History b) Purpose & Values c) What you do.

Promote other chapter’s events… and not just sororities! People don’t want to join a gang that then puts a target on their back for other guys to now hate them. There is value in a potential member feeling like they are joining an organization that has good relations with other fraternities as well as sororities. Actively promoting other fraternity and sorority philanthropies shows you have interfraternal friends.<br>

Show your “Why.” Explaining not WHAT you do as a chapter, but WHY you do it is most important. Engaging in this thing called fraternity is about more than just a good time. Telling your story about WHY you put forth so much time and effort. WHY you feel so strongly about your fraternity isn’t caused by the things that you do, but the driving force behind why you do it. If you can share that WHY, you’ll inspire men to join for all the right reasons. And they’ll never be that brother you look at and think, “Oops!”

      </p>
    </div>

    <footer class="footer">
      <hr>
      <footer>
        <p>&copy;   2016 Fraternity of seekers, Ind</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
